//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';


.btn-info {
  color: #ffffff;
  background-color: yellow;
  border-color: #007bff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}